body{
    background-color: cornflowerblue;
}

/* Classes */
.text-center
{
    text-align: center;
}

.input-field
{
    padding-bottom: 5px;
    padding-left: 7px;
}

.extend-select
{
    width: 130px;
}

.pull-right
{
    float: right;
    padding-right: 10px;
}

/* Identifiers */
#container
{
    height: 400px;
    width: 600px;
    padding-top: 100px;
    margin-left: auto;
    margin-right: auto;
}

#logo_div
{
    border-style: solid;
    border-width: 1px;
    height: 400px;
    width: 340px;
    float: left;
}

#user_container
{
    float: right;
}

#login_div
{
    border-style: solid;
    border-width: 1px;
    height: 100px;
    width: 250px;
    background-color: white;
    margin-bottom: 8px;
}

#reg_div
{
    border-style: solid;
    border-width: 1px;
    height: 290px;
    width: 250px;
    background-color: white;
}

/* Rest */
label
{
  display: inline-block;
  width: 100px;
  text-align: left;
}​