body{
    background-color: cornflowerblue;
}

/* Misc */
.text-center
{
    text-align: center;
}

.input-field
{
    padding-bottom: 5px;
    padding-left: 7px;
}

.extend-select
{
    width: 130px;
}

.pull-right
{
    float: right;
    padding-right: 10px;
}

.button {
    background-color: maroon;
    border: none;
    color: white;
    padding: 15px 32px;
    text-decoration: none;
    display: inline-block;
    margin: 4px 2px;
    cursor: pointer;
}

.btn-sign-out
{
    font-size: 16px;
}

#container
{
    height: 400px;
    width: 600px;
    padding-top: 100px;
    margin-left: auto;
    margin-right: auto;
}

/* Welcome View */
#logo_div
{
    border-style: solid;
    border-width: 1px;
    height: 400px;
    width: 340px;
    float: left;
}

#user_container
{
    float: right;
}

#login_div
{
    border-style: solid;
    border-width: 1px;
    height: 100px;
    width: 250px;
    background-color: white;
    margin-bottom: 8px;
}

#reg_div
{
    border-style: solid;
    border-width: 1px;
    height: 290px;
    width: 250px;
    background-color: white;
}


/* Profile View */

/* Tabs */
ul.tab
{
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    border: 1px solid black;
    background-color: maroon;
}

ul.tab li
{
    float: left;
}

ul.tab li a
{
    display: inline-block;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}

.home-content
{
    background-color: white;
    margin-top: 10px;
    margin-bottom: 10px;
    padding-top: 2px;
    padding-bottom: 20px;
    border: 1px solid black;
}

.browse-content
{
    display: none;
    background-color: white;
    margin-top: 10px;
    margin-bottom: 10px;
    border: 1px solid black;
    padding-bottom: 10px;
}

.account-content
{
    display: none;
    background-color: white;
    margin-top: 10px;
    margin-bottom: 10px;
    height: 230px;
    padding-top: 2px;
    padding-bottom: 2px;
    border: 1px solid black;
}

.alert {
    display: none;
    padding: 20px;
    background-color: #f44336;
    color: white;
}

.cross-btn {
    margin-left: 15px;
    color: white;
    font-weight: bold;
    float: right;
    font-size: 22px;
    line-height: 20px;
    cursor: pointer;
}

/* Rest */
label
{
  display: inline-block;
  width: 100px;
  text-align: left;
}​